<!DOCTYPE html>
<html ng-app="travelingTips">
<head>
    <meta charset="utf-8"/>
    <title>Traveling Tips</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="styles.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEFSPKU4x3OT2MRQsjm5v2Bp7bwo1YQpI"></script>
    <script type="text/javascript" src="scripts/mapController.js"></script>
</head>

<body>
	<h4> Crea/Edita tu viaje: </h4>
    <div class="row">
        <div ng-controller="MapController">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Marca por donde pasaste en el mapa y compartilo con otros!</div>
                    <div class="panel-body">
                        <input type="text" class="form-control inputText" placeholder="Titulo del viaje" ng-model="travelTitle">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default" ng-show="showCommentSection">
                    <div class="panel-heading">Contanos mas sobre tu viaje!</div>
                    <div class="panel-body">
                        <div ng-repeat="marker in mapMarkers">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    {{marker.sequence}}
                                </span>
                                <input type="text" class="form-control" placeholder="Lugar">
                            </div>
                            <textarea class="form-control" rows="3" id="comment" maxlength="200"
                                      placeholder="Escribi un comentario sobre el lugar!"></textarea>
                        </div>
                    </div>
                </div>
                <button id="saveMap" type="button" class="btn btn-default" ng-show="!showCommentSection">Save</button>
                <button id="okMap" type="button" class="btn btn-default" ng-show="showCommentSection">OK</button>

                <ul>
                    <li ng-repeat-start="airport in airports">{{airport.code}}</li>
                    <li>{{airport.city}}</li>
                    <li ng-repeat-end>{{airport.name}}</li>
                </ul>
            </div>

            <!--<div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Busca un viaje por titulo y editalo</div>
                    <div class="panel-body">
                        <input type="text" class="form-control inputText" ng-model="travelSearch">
                        <button id="searchMap" type="button" class="btn btn-default">Search</button>
                        <button id="editMap" type="button" class="btn btn-default">Edit</button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</body>
</html>
