<h4> Crea/Edita tu viaje: </h4>
    <div class="row">
        <div ng-controller="MapController">

            <script type="text/ng-template" id="alert.html">
                <div ng-transclude></div>
            </script>
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Marca por donde pasaste en el mapa y compartilo con otros!</div>
                    <div class="panel-body">
                        <input id="title" type="text" class="form-control inputText" placeholder="Titulo del viaje" 
                            ng-model="travelTitle">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default" ng-show="showCommentSection">
                    <div class="panel-heading">Contanos mas sobre tu viaje!</div>
                    <div class="panel-body">
                        <div ng-repeat="marker in mapMarkers">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                    {{marker.sequence}}
                                </span>
                                <span class="input-group-addon" uib-rating ng-model="ratings[$index]" read-only="isReadonly" on-hover="hoveringOver(value)" aria-labelledby="default-rating"></span>
                                </span>
                            </div>
                            <textarea class="form-control" rows="3" id="comment" maxlength="200" 
                            	ng-model="comments[$index]" placeholder="Escribi un comentario sobre el lugar!">
                        	</textarea>
                        </div>
                    </div>
                </div>
                <button id="okMap" type="button" class="btn btn-default" ng-show="!showCommentSection" ng-click="openCommentSection()" ng-disabled="!(isTitleComplete && isMapMarked)">OK</button>
                <button id="saveTravel" type="button" class="btn btn-default" ng-show="showCommentSection" 
                    ng-disabled="!(isTitleComplete && isMapMarked && (comments.length == mapMarkers.length) && (ratings.length == mapMarkers.length))" ng-click="saveTravel()">Save</button>
            </div>
        </div>
    </div>