<header class="header-basic">
  <div class="header-limiter">
    <h1><a ui-sref="home"><img src="images/travelingtipslogo.png" class="headerLogo">TravelingTips</a></h1>
    <nav>
      <a ui-sref="home"><button type="button" class="home btn btn-default"><span class="glyphicon glyphicon-home"></span></button></a>
      <a ui-sref="userProfile"><button type="button" class="profile btn btn-default"><span class="glyphicon glyphicon-user"></span></button></a>
      <a href="#" onclick="signOut();">Sign out</a>
    </nav>
  </div>
</header>
