<div ng-include="'/views/header.html'"></div>

<div ng-controller="TravelController">
    <h1 ng-show="isEditMode">Editando viaje: {{travel.title}}</h1>
    <h1 ng-show="!isEditMode">Crea tu viaje:</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Clickea marcadores para borrarlos. Arrastralos para cambiarlos de lugar</div>
                <div class="panel-body">
                    <label>Titulo: </label><input id="title" type="text" class="form-control inputText"
                           ng-model="travel.title">
                    <label>Resumen: </label><textarea class="form-control" rows="2" id="travelSummary" ng-model="travel.summary" maxlength="100"></textarea>
                    <input id="pac-input" class="controls" type="text" placeholder="Busca lugares para marcar">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default commentPannel" ng-show="isMapMarked">
                <div class="panel-heading">Podes cambiar comentarios y/o ratings</div>
                <div class="panel-body">
                    <button id="deleteAll" type="button" class="btn btn-default" ng-click="deleteAllMarkers()">Borrar todos</button>
                    <div ng-repeat="marker in travel.placesVisited">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                {{marker.sequence}}
                            </span>
                            <span class="input-group-addon editRating" uib-rating ng-model="marker.rating" read-only="isReadonly" on-hover="hoveringOver(value)" aria-labelledby="default-rating"></span>
                            </span>
                            <button ng-click="deleteMarker(marker)" type="button" class="btn"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <textarea class="form-control" rows="3" id="comment" maxlength="280"
                                  ng-model="marker.comment" placeholder="Escribi un comentario sobre el lugar!">
                        </textarea>
                    </div>
                </div>
            </div>
            <button id="saveTravel" type="button" class="btn btn-default" ng-click="saveTravel()">Guardar</button>
            <a ui-sref="userProfile({token: user, friend: false})">
                <button id="cancelMap" type="button" class="btn btn-default">Cancelar</button>
            </a>
        </div>
    </div>
</div>