<div ng-include="'/views/header.html'"></div>

<div ng-controller="UserController">
  <div class="container-fluid">
    <div class="row">
      <br>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="portlet light profile-sidebar-portlet bordered">
          <div class="profile-userpic">
            <img src="{{userPhoto}}" class="img-responsive" alt="">
          </div>
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">{{user.name}}</div>
          </div>
          <div class="profile-userbuttons">
            <button ng-show="!isOwnerOfProfile" ng-disabled="!isFriend" type="button" class="btn" ng-click="addFriend(user)">Agregar Amigo</button>
            <a ui-sref="travel({id: 0, isNew: true})"><button ng-show="isOwnerOfProfile" type="button" class="btn">Crear Viaje</button></a>
            <!--<a ui-sref="createMap"><button ng-show="isOwnerOfProfile" type="button" class="btn">Crear Viaje</button></a>-->
          </div>
          <div class="profile-usermenu">
            <ul class="list-group">
              <li class="list-group-item text-right" ng-class="activeTravels" ng-click="showTravels()"><span class="pull-left"><strong>Viajes</strong></span>{{travels.length}}</li>
              <li class="list-group-item text-right" ng-class="activeFavs" ng-click="showFavourites()"><span class="pull-left"><strong>Favoritos</strong></span>{{favouriteTravels.length}}</li>
              <li class="list-group-item text-right" ng-class="activeFriends" ng-click="showFriends()"><span class="pull-left"><strong>Amigos</strong></span>{{friends.length}}</li>
            </ul>
          </div>
        </div>
      </div>

      <!--Columna grande-->
      <div class="col-sm-9" contenteditable="false">
        <div class="panel panel-default target" ng-show="isSelectedTravels">
          <div class="panel-heading" contenteditable="false">Viajes realizados</div>
          <div class="panel-body">
            <div ng-repeat="travel in travels">
              <div class="col-md-4">
                <a ui-sref="viewTravel({id: travel.id, favourite: false})">
                  <div class="thumbnail profileThumbnails">
                    <div class="caption">
                      <h3>{{travel.title}}</h3>
                      <p>{{travel.summary}}</p>
                    </div>
                  </div>
                </a>
                <div class="btnCrudProfile">
                  <a ui-sref="travel({id: travel.id, isNew: false})">
                    <button ng-show="isOwnerOfProfile" type="button" class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
                  </a>
                  <button ng-show="isOwnerOfProfile" ng-click="deleteTravel(travel)" type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
              </div>
            </div>              
          </div>
        </div>

        <div class="panel panel-default target" ng-show="isSelectedFavs">
          <div class="panel-heading" contenteditable="false">Viajes favoritos</div>
          <div class="panel-body">
            <div ng-repeat="travel in favouriteTravels">
              <div class="col-md-4">
                <a ui-sref="viewTravel({id: travel.id, favourite: true})">
                  <div class="thumbnail profileThumbnails">
                    <div class="caption">
                      <h3>{{travel.title}}</h3>
                      <p>{{travel.summary}}</p>
                    </div>
                  </div>
                </a>
                <div class="btnCrudProfile">
                  <button ng-show="isOwnerOfProfile" ng-click="removeTravelFromFavs(travel)" type="button" class="btn"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default target" ng-show="isSelectedFriends">
          <div class="panel-heading" contenteditable="false">Amigos</div>
          <div class="panel-body">
            <div ng-repeat="friend in friends">
              <div class="col-sm-3">
                <a ui-sref="userProfile({token: friend.token, friend: true})">
                  <div class="thumbnail">
                    <div class="caption">
                      <img src="{{friend.photoUrl}}" class="profile-userpic-thumbnail" alt="">
                      <h3>{{friend.name}}</h3>
                    </div>
                  </div>
                </a>
                <div class="btnCrudProfile">
                  <button ng-show="isOwnerOfProfile" ng-click="deleteFriend(friend.token)" type="button" class="btn"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
